body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
}
    
.action_btn {
    width: 100px;
    margin: 0 auto;
    display: inline;
}
